@model HandKrossBlog.Models.BlogPost

@{
    ViewData["Title"] = "Edit";
    string ErrorMessage = (ViewData["ErrorMessage"] ?? string.Empty) as string;
}

<link type="text/css" rel="stylesheet" href="~/css/trumbowyg.min.css" />

<div class="container">
    <h1>Edit Post</h1>
    <hr />
    <div class="row">
        <div class="col-md-10">

            @if (!string.IsNullOrEmpty(ErrorMessage))
            {
                <div class="alert alert-danger" role="alert">
                    @ErrorMessage
                </div>
            }

            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="DateCreated" />
                <input type="hidden" asp-for="Fullname" />

                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" autofocus />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Text" class="control-label"></label>
                    <textarea asp-for="Text" class="form-control" rows="8"></textarea>
                    <span asp-validation-for="Text" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>

<!-- Scripts -->
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/js/trumbowyg.min.js"></script>
<script>
    $(function () {
        $("#Text").trumbowyg();
        $("#Title").focus();
    })
</script>
