@model HandKrossBlog.ViewModels.BlogPostsIndex

@{
    ViewData["Title"] = "Index";
}


<style>
    #container_pagination_posts .card:hover {
        border: 1px solid #0a8ecd;
        cursor: pointer;
    }

    #container_pagination_posts .card-active {
        border: 1px solid red;
    }
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.min.css" rel="stylesheet" />


<div class="container-fluid">

    <p>
        <a asp-action="Create">Create Post</a>
    </p>

    <div class="row">
        <div class="col-sm-4" id="container_pagination_posts">
            @await Html.PartialAsync("../Shared/_PaginationBlogPosts.cshtml", Model)
        </div>
        <div class="col-sm-8" id="container-blogpost" style="background: white">
            @await Html.PartialAsync("../Shared/_BlogPost.cshtml", Model.LastBlogPost)
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="~/js/general.js"></script>
<script src="~/js/blog.js"></script>
<script>
    function loadPostPartialView(blogPostId) {

        let formData = new FormData()
        formData.append("PostId", blogPostId)

        ajaxPost('/BlogPosts/GetPartialView_Post', formData)
        .then(function (result) {
            if (result.response) {
                document.getElementById('btnSaveComment').removeEventListener('click', function () { saveComment() })
                setHtmlElementById('container-blogpost', result.view)
                document.getElementById('btnSaveComment').addEventListener('click', function () { saveComment() })
                clearClassPostActive()
                document.getElementById('card_post_id_' + blogPostId).classList.add('card-active')
                setHtmlElementById(`span_number_visits_post_id_${blogPostId}`, result.numberOfVisits)
            }
        })
        .catch(function (err) {
            alert(err)
        })
    }

    function clearClassPostActive() {
        var posts = document.querySelectorAll('#container_pagination_posts .card')
        posts.forEach(function (item) {
            item.classList.remove('card-active')
        })
    }

    function callback_cardPost_Click(postId) {
        loadPostPartialView(postId)
    }

</script>

