@model HandKrossBlog.Models.BlogPost
@{

}

<h2 class="font-weight-bold"> @Model.Title </h2>

<div>
    <a href="/BlogPosts/Edit/@Model.Id">Edit Post</a>
</div>
<br />

<div class="row">
    <div class="col-sm-12"> @Html.Raw(Model.Text) </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-8">

                <br />
                <div id="alert-success" class="alert alert-success d-none" role="alert">
                    Su comentario ha sido agregado con éxito
                </div>

                <div id="alert-warning" class="alert alert-warning d-none" role="alert">
                    Debe ingresar un texto para poder guardar su comentario
                </div>

                <!-- Comments Form -->
                <div class="card">
                    <h5 class="card-header">Leave a Comment</h5>
                    <div class="card-body">
                        <div class="form-group">
                            <textarea id="inputComment" class="form-control" rows="3"></textarea>
                            <span id="spanInputComment" class="text-danger"></span>
                            <input id="postId" type="hidden" value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <label class="control-label"> Usuario </label>
                            <input id="inputUser" class="form-control" />
                        </div>
                        <button type="button" class="btn btn-primary" id="btnSaveComment">Save Comment</button>
                    </div>
                </div>
            </div>
        </div>
        <br /> <br />

        <div id="section-comments">
            @await Html.PartialAsync("../Shared/_BlogPostComment.cshtml", Model)
        </div>
        <br /> <br /> <br />

    </div>


    <!-- Modal Delete Comment -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Delete Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Do you want to delete this comment?
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-close-modal-delete-comment" class="btn btn-secondary" data-dismiss="modal">No</button>
                    <button type="button" class="btn btn-danger" onclick="deleteComment()">Yes</button>
                </div>
            </div>
        </div>
    </div> <!-- End .modal Delete Comment -->

    <!-- Modal Edit Comment -->
    <div class="modal fade" id="modalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Comment</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div id="alert-warning-edit-comment" class="alert alert-warning d-none" role="alert">
                            Debe ingresar un texto para poder guardar su comentario
                        </div>

                        <textarea id="inputEditComment" class="form-control" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btn-close-modal-edit-comment" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="editComment()">Save</button>
                </div>
            </div>
        </div>
    </div> <!-- End .modal Edit Comment -->

</div> <!-- End .row -->